.Sections_List {
    padding: 80px 0px;
    max-width: 1440px;
}

.heading,
.headingGoiCuon,
.headingCombo,
.headingNoodle,
.headingTopping {
    font-size: 2.5rem;
    font-weight: 550;
    text-align: center;
    margin-bottom: 16px;
}

.headingGoiCuon::after {
    content: "春巻き";
    display: block;
    font-size: .5em;
    font-weight: 300;
    color: #888;
    margin-top: 10px;

}

.headingCombo::after {
    content: "コンボ";
    display: block;
    font-size: .5em;
    font-weight: 300;
    color: #888;
    margin-top: 10px;
}

.headingNoodle::after {
    content: "麺";
    display: block;

    font-size: .5em;
    font-weight: 300;

    color: #888;

    margin-top: 10px;

}

.headingTopping::after {
    content: "麺";
    display: block;

    font-size: .5em;
    font-weight: 300;

    color: #888;

    margin-top: 10px;
}

.cardImage {
    margin: 0 auto;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 1px 0px rgba(40, 41, 61, 0.08), 0px 0.5px 2px 0px rgba(96, 97, 112, 0.16);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.05);

        box-shadow: 0px 2px 4px 0px rgba(40, 41, 61, 0.04), 0px 8px 16px 0px rgba(96, 97, 112, 0.16);
    }
}

.cardImagePho {
    margin: 0 auto;
    width: 60%;
    border-radius: 12px;
    box-shadow: 0px 0px 1px 0px rgba(40, 41, 61, 0.08), 0px 0.5px 2px 0px rgba(96, 97, 112, 0.16);
    transition: transform 0.3s ease, box-shadow 0.3s ease;


    &:hover {
        transform: scale(1.05);

        box-shadow: 0px 2px 4px 0px rgba(40, 41, 61, 0.04), 0px 8px 16px 0px rgba(96, 97, 112, 0.16);
    }
}

.cardTitleDrink,
.cardTitle {
    text-align: center;
    font-size: 1.21875rem;
    font-weight: bold;
    color: var(--color-text);

    &:hover {
        color: var(--color-text-hover);
    }
}

.cardTitleDrink {
    text-align: start;
}


.Card {
    border: none;
    cursor: pointer;
}

.card {
    width: 100%;
    border: none;
    cursor: pointer;
}

.combo {
    width: 86%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.cardDrink {
    border-bottom: 1px solid #ccc;
}