.header {
    position: fixed;
    top: 20;
    width: 100%;
    padding: 0px 32px;
}

@media (max-width: 768px) {
    .header {
        padding: 0px 24px;
        /* Giảm padding cho tablet */
    }

    .nav {
        width: 100%;
    }
}

/* Mobile: Màn hình có kích thước tối đa 576px */
@media (max-width: 576px) {
    .header {
        padding: 0px 16px;
        /* Giảm padding cho mobile */
    }

    .nav {
        width: 100%;
        height: auto;
    }
}

.headerInner {
    max-width: 1400px;
}

.headlogo {
    flex: 1;
}

.navInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.menutrigger {

    cursor: pointer;
    /* Ví dụ về margin để khoảng cách giữa các phần tử */
}

.menutxt {
    font-size: .5625rem;

}

.menutrigger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 21px;
    justify-content: space-between;
    position: relative;
    transition: all 0.3s ease;
}

.menutrigger span {
    display: block;
    height: 3px;
    /* Chiều cao của thanh ngang */
    background-color: #000;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.menutrigger.active span:nth-child(1),
.menutrigger.active span:nth-child(2),
.menutrigger.active span:nth-child(3) {
    background-color: #000;
    /* Màu sắc của các thanh ngang khi active */
}

.menutrigger.active span:nth-child(1) {
    transform: rotate(45deg);

    transform-origin: center;

    margin-top: 10px;


    z-index: 999;
    top: 50px;
}

.menutrigger.active span:nth-child(2) {
    opacity: 0;
}

.menutrigger.active span:nth-child(3) {
    transform: rotate(-45deg);

    transform-origin: center;

    margin-bottom: 10px;

}

.menu_Nav a,
.menu_exlink a {

    color: var(--color-text);
    text-decoration: none;
    padding-right: 50px;

    &:hover {
        color: var(--color-text-hover);
    }


}

.menuInner {
    width: 100%;
}

.nav {
    gap: 40px;
    height: 100vh;
    overflow-x: hidden;
}





.menu_exlink {
    gap: 30px;
}

.menu_social {
    gap: 30px;
}

.menu_exlink li {
    position: relative;
}

.menu_exlink li::after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    right: 30px;
    background-image: url(/copy.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    z-index: 10;
}

.menuNavTitle {
    font-size: 1.875rem;
    font-weight: 400;
    text-wrap: nowrap;
    margin-top: 32px;
    margin-bottom: 16px;
}

.menuNavSubTitle {
    font-size: 12px;
}